.home { 
    display: flex;
    background-image: url(./images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: calc(100vmin - 46px);
    height: 100vmin;
    width: auto;
    text-align: center;
}


.homeMain {
    display: flex;
    position: relative;
    width: 70%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
}

.homeTitle {
    color: white;
    font-size: 80px;
    margin-bottom: 0px;
}

.homeTypeIt { 
    font-size: 36px;
    margin-bottom: 20rem;
}

.homeArrow { 
    color: white;
    font-size: 10px; 
    // color: 'white', 
    position: absolute;
    top: 90%;
    left: 50%;
    // m: 'translate(-50%, -50%)',
    transform: translate(-50%, -50%);
}

.homeContent { 
    background-color: #f7f7d7;
    padding-top: 60px;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.intro { 
    width: 80%; 

    display: flex;
}

.introText { 
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
}

.introTextTitle { 
    font-size: 30px;
    margin-bottom: 15px;
}

.wordcloudWrapper { 

    border: black solid 0.5px;
}